header{
   background: #f40287;
}
h1{
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
aside{
  display: none;
}
h2{
  color: #d00655;
}
section{
  background:#ffcfbf;
}
nav{
   
   background:#00b7ea;
}
a{
  colour:#d00655;
}
